@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

html {
  height: 100%;
}

.left-menu {
  width: auto;
}

body {
  margin: 0;
  color: #fff;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.appearance {
  animation: 2.5s fade-in;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: hidden;
  animation-delay: 1.25s;
}

.slideUp {
  animation: 2.5s slideUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: hidden;
}

.hor-line {
  height: 6px;
  background-color: white;
  border-radius: 5px;
  width: 65%;
  align-self: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 35vh;
}

.card {
  cursor: pointer;
  transition-duration: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

div.scrollup {
  position: fixed;
  color: #fff;
  z-index: 1;
  background-color: #286090;
  right: 20px;
  bottom: 20px;
  padding: 4px 10px;
  font-size: 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}
div.scrollup:hover {
  background-color: #000;
}
.toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
  position: relative;
  margin-top: 2.3rem;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast_show {
  display: block;
}

.toast__close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
  appearance: button;
  margin: 0;
  font-family: inherit;
  border-radius: 0;
}

input:not([type="checkbox"]) {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
}
