a {
  text-decoration: none;
}

body{
  background: lavenderblush;
}

* {
  margin: 0;
  padding: 0;
}

.head{
  list-style: none;
  margin: 0;
  padding-left: 0;
  background: honeydew;
  height: 5em;
  position: relative;
  display: flex;
  align-items: center;

}

.head li{
  margin: auto;
  display: block;
  background: honeydew;
  border-radius: 20px;
}

.btnMenu{
  font-family: Bookman Old Style, serif;
  font-size: 20px;
  margin: auto;
  padding: 0.7em 4em;
  display: block;
  background: honeydew;
  text-decoration: none;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 20px;
}

.drop-child{
  display: none;
}

.btnHead:hover .drop-child{
  display: block;
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: center;
}

.btnHead{
  position: relative;
  display: inline-block;
}

.drop-child a{
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.blockIntroduction {
  display: flex;
  margin: 2em;
  background-color: blanchedalmond;
}

.blockIntroduction p{
  margin-left: 10px;
  font-family: "Eras Bold ITC", monospace;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(20deg)
  }
  100% {
    transform: rotateX(0deg)
  }
}

.contacts{
  margin: 3em;
}

.contacts > p{
  font-family: "Eras Bold ITC", monospace;
  display: block;
  font-size: xx-large;
  text-align: center;
}





















