@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
  background: white url("../img/triangle-mosaic.png") repeat;
}

@font-face {
  font-family: Courier Prime Bold;
  src: url("../fonts/courier_prime/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: Courier Prime Regular;
  src: url("../fonts/courier_prime/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: Courier Prime Italic;
  src: url("../fonts/courier_prime/CourierPrime-Italic.ttf");
}

i {
  font-family: FontAwesome, serif !important;
}

.entry{
  display: block;
  height: 100vh;
  text-align: center;
  align-items: center;
  font-family: Courier Prime Bold, serif;
}

.entry__welcome{
  position: absolute;
  text-align: center;
  top: 15%;
  width: 100%;
  font-size: 80px;
}

.entry__blocks{
  display: flex;
  margin-top: 25vh;
  margin-left: 21vw;
}
.entry__blocks__column{
  display: block;
}
.entry__block{
  display: block;
  text-align: center;
  line-height: 200px;
  height: 20vh;
  width: 24vw;
  border: 3px solid black;
  border-radius: 20px;
  margin: 1em;
  font-size: 40px;
}
.arrow{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 40px;
}
.anchor{
  text-decoration: none;
  color: black !important;
}
.block__about{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 40px;
  top: 110%;
  font-family: Courier Prime Bold, serif;
}
.line{
  border-radius: 15px;
  border-width: 3px;
  border-color: black;
  margin: 15px 40vw 30px;
}
.block__content{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 23vw;
  margin-right: 23vw;
  border: 3px solid black;
  border-radius: 20px;
}
.block{
  width: 40%;
  font-size: 20px;
  font-family: "Courier Prime Regular", sans-serif;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.vert__line{
  border-right: 3px solid black;
  margin: 20px 40px;
  height: 100px;
}
.block__skills{
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 40px;
  top: 350px;
  font-family: Courier Prime Bold, serif;
}
.block__content__skills{
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-left: 23vw;
  margin-right: 23vw;
  border: 3px solid black;
  border-radius: 20px;
}
.item_skill{
  text-align: center;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
}
.progress{
  margin-right: 20px;
  margin-left: auto;
  height: 40px;
}

.item_skill w{
  margin-right: 400px;
  font-size: 40px;
}


* {
<!--

  -->

  outline: 1px solid rebeccapurple;

}






















